@font-face {
  font-family: 'Raund';
  src: url('../fonts/Raund-Bold-webfont.eot');
  src: url('../fonts/Raund-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	   url('../fonts/Raund-Bold-webfont.woff2') format('woff2'),
	   url('../fonts/Raund-Bold-webfont.woff') format('woff'),
	   url('../fonts/Raund-Bold-webfont.ttf') format('truetype'), url('../fonts/Raund-Bold-webfont.svg#raundbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raund';
  src: url('../fonts/Raund-Italic-webfont.eot');
  src: url('../fonts/Raund-Italic-webfont.eot?#iefix') format('embedded-opentype'), 
	   url('../fonts/Raund-Italic-webfont.woff2') format('woff2'),
	   url('../fonts/Raund-Italic-webfont.woff') format('woff'),
	   url('../fonts/Raund-Italic-webfont.ttf') format('truetype'), url('../fonts/Raund-Italic-webfont.svg#raunditalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Raund';
  src: url('../fonts/Raund-webfont.eot');
  src: url('../fonts/Raund-webfont.eot?#iefix') format('embedded-opentype'),
	   url('../fonts/Raund-webfont.woff2') format('woff2'),
	   url('../fonts/Raund-webfont.woff') format('woff'),
	   url('../fonts/Raund-webfont.ttf') format('truetype'),
	   url('../fonts/Raund-webfont.svg#raundregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif !important;
}
.section-one{
	/* border: 1px solid; */
}

.slide {
	padding: 0 60px;
	color: #00174f;
}

.slide:nth-child(1) {
	background: #ffd200;
}

.slide:nth-child(2) {
	background: #ff0000;
}

.slide:nth-child(3) {
	background: #ccc;
}

.slide:nth-child(4) {
	background: #fff;
}

.fp-controlArrow.fp-next {
	border-color: transparent transparent transparent #00174f;
}

.fp-controlArrow.fp-prev {
	border-color: transparent #00174f transparent transparent;
}

.navigation {
	position: absolute;
    right: 0;
    top: 50%;
    z-index: 1000;
    transform: translateY(-50%);
}

.main-nav {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.main-nav ul {
	/* margin: 0 -15px; */
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
}

.main-nav li {
	display: inline-block;
	/* margin-right: -4px; */
	padding: 3px 0;
}
.bb{
	/* border: 1px solid rgb(199, 199, 199); */
}
.main-nav a {
	display: block;
	/* font-size: 16px; */
	/* color: #000; */
	/* text-decoration: none; */
	/* text-transform: uppercase; */
	width: 8px;
	height: 8px;
	background-color: #e4e4e4;
	border-radius: 50%;
}
.main-nav .active:nth-child(1) a{
	background-color: #ff8a89;
}
.main-nav .active:nth-child(2) a {
	background-color: #8e95ff;
}
.main-nav .active:nth-child(3) a {
	background-color: #47c690;
}
.main-nav .active:nth-child(4) a {
	background-color: #ff8a89;
}
.main-nav .active:nth-child(5) a {
	background-color: #8e95ff;
}
.icons{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
.icon{
	width: 31px;
	margin-bottom: 12px;
}
.icon:last-child{
	margin-bottom: 0;
}

.header{
	display: flex;
	justify-content: space-between;
	margin-top: 48px;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	background-color: #fff;
}
.logo-img{
	width: 130px;
}
.menu{
	margin-right:  110px;
}
.menu_btn{
	width: 18px;
	height: 17px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.menu_btn>span{
	display: block;
	width: 18px;
	height: 3px;
	background-color: #0d1126;
	border-radius: 50px;
}
.menu_btn>span:nth-child(3){
	width: 12px;
}
.menu>.menuWrapper>a{
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.19;
	letter-spacing: normal;
	text-align: left;
	color: #0d1126;
}
.right{
	margin-right: 36px;
}
.menu>.menuWrapper>a:hover{
	text-decoration: none;
	color: #000000;
}
.d1{
	position: absolute;
    width: 361px;
    bottom: 150px;
    left: -39px;
    z-index: 1;
}
.Lets-Finin {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.88;
	letter-spacing: normal;
	text-align: right;
	color: #041e44;
}
.imgs{
	position: absolute;
    top: 50%;
    left: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
	transform: translateY(-50%);
	z-index: 2;
}
.Rectangle-364 {
	width: 40px;
	height: 8px;
	border-radius: 36px;
}
.section-one .Rectangle-364{
	background-color: #ff8a89;
}
.title1{
	font-size: 46px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.27;
	letter-spacing: 0.52px;
	text-align: left;
	color: #01192e;
	margin: 20px 0;
	text-transform: uppercase;
}
.text1{
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.7;
	letter-spacing: normal;
	text-align: left;
	color: #041e44;
	margin-top: 16px;
}
.text1>span{
	font-weight: bold;
}
.sec1>h3{
	font-size: 24px;
	color: #01192e;
	margin-top: 124px;
}
.section-one .sec1>h3>b{
	color: #ff8a89;
}
.no-scroll{
	overflow: hidden;
}
.btn1{
	padding: 12px 25px;
	text-decoration: none;
	color: #fff;
	background-color: #47c690;
	border-radius: 50px;
	transition: 0.2s;
	margin-top: 41px;
	position: fixed;
    z-index: 999;
	bottom: 18%;
	border: none;
	outline: none;
}
.btn1:hover{
	color: #fff;
	opacity: 0.8;
	text-decoration: none;
}
.display_f{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	padding-right: 110px !important;
}
.display_f2{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}
.mobile{
	display: none;
}
.logo-mobile{
	display: none;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.close-div{
	width: 39px;
	height: 39px;
	border-radius: 15px;
	background-color: #ffd7c94f;
	position: relative;
}
.close-div>span{
	border-radius: 10px;
	position: absolute;
	background-color:  #fa6102;
	width: 20px;
	height: 3px;
	top: 50%;
	left: 50%;
	transform-origin: 0 0;
}
.close-div>span:nth-child(1){
  	transform: rotate(45deg) translate(-50%, -50%);
}
.close-div>span:nth-child(2){
	transform: rotate(-45deg) translate(-50%, -50%);
}
.decore_4{
	display: none;
	width: 32px;
	height: 8px;
	border-radius: 36px;
	background-color: #8e95ff;
	margin: 60px 0 20px 0;
}
.btn1-mobile{
	display: none;
}
.icons-mobile{
	display: none;
}
/* section 2 -------------------------------------------------------- */
.sec2_imgs{
	left: -122px;
	top: 53%;
}
.sec2_d1{
    width: 390px;
    bottom: 212px;
    left: -118px;
}
.section-two .Rectangle-364{
	background-color: #8e95ff;
}
.section-two .sec1>h3>b{
	color: #8e95ff;
}
/* End section 2  -------------------------------------------------------- */

/* section 3 -------------------------------------------------------- */
.section-three .Rectangle-364{
	background-color: #47c690;
}
.section-three .sec1>h3>b{
	color: #47c690;
}
.section-three .sec1>h3{
	margin-top: 66px;
}
.sec3_d1{
	left: -101px;
	width: 390px;
    bottom: 212px;
}
/* End section 3 -------------------------------------------------------- */

/* section 4 -------------------------------------------------------- */
.section-four .Rectangle-364{
	background-color: #ff8a89;
}
.section-four .sec1>h3>b{
	color: #ff8a89;
}
.section-four .sec1>h3{
	margin-top: 66px;
}
.sec4_imgs{
	left: -69px;
    top: 54%;
}
/* End section 4 -------------------------------------------------------- */

/* section 5 -------------------------------------------------------- */
.section-five .Rectangle-364{
	background-color: #8e95ff;
}
.section-five .sec1>h3>b{
	color: #8e95ff;
}
.section-five .sec1>h3{
	margin-top: 66px;
}
.sec5_imgs{
	left: -46px;
    top: 54%;
}
/* End section 5 -------------------------------------------------------- */

/* singn Up ----------------------------------------- */
.modal_singl-up{
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #fff;
	z-index: 1111;
	padding-top: 183px;
	visibility: hidden;
	opacity: 0;
	transition: 0.2s;
}
.open_modal_singl-up{
	visibility: visible;
	opacity: 1;
}
.modal_singl-up .Rectangle-364{
	background-color: #47c690;
}
.input_wrapper{
	display: flex;
	flex-direction: column;
	margin-top: 43px;
}
.inp_form{
	width: 293px;
	padding: 13px 26px;
	border-radius: 10px;
	border: 1px solid #47c690;
	outline: none;
	margin-bottom: 22px;
}
.inp_form::placeholder{
	color: rgba(4, 30, 68, 0.5);
}
/* .inp_form:nth-child(3){
	padding: 0;
} */
.phone_inp{
	display: flex;
}
.phone_code{
	width: 15%;
	outline: none;
	border: none;
}
.phone{
	border: none;
	outline: none;
	width: 85%;
}
.sub{
	padding: 13px;
	width: 293px;
	border-radius: 10px;
	border: none;
	background-color: #98dbc7;
	color: #fff;
	margin-top: 22px;
	outline: none;
}
.sign_close{
    display: flex;
    position: absolute;
    right: 120px;
    z-index: 1111;
	top: 118px;
	cursor: pointer;
}
@media (max-width: 350px){
	.inp_form{
		width: 100%;
	}
}
@media (min-width:768px) {
	.navigation {
		/* padding: 30px; */
	}

	.main-nav a {
		font-size: 18px;
	}
}
@media (max-width:992px) {
	.header{
		padding: 0 33px;
	}
	.menu{
		display: none;
	}
	.menu_btn{
		display: flex;
	}
	.icons{
		display: none;
	}
	.navigation{
		right: 17px;
		top: 65%;
	}
	.btn1{
		bottom: 45px;
		text-align: center;
	}
	.Rectangle-364{
		margin-top: 0;
	}
	.title1{
		font-size: 31px;
	}
	.text1{
		margin-top: 0;
		font-size: 12px;
	}
	.col-xl-6 h3{
		margin-top: 14px !important;
		font-size: 14px;
	}
	.section-img>img, .section-img>.imgs{
		display: none;
	}
	.d1{
		display: none;
	}
	.col-xl-6{
		padding-right: 33px !important;
		padding-left: 33px !important;
	}
	.display_f{
		align-items: flex-start;
		justify-content: flex-start;
		padding-right: 33px !important;
		padding-left: 33px !important;
	}
	.mobile{
		display: block;
		width: 100%;
		height: 80px;
		background-color: #e8eaff;
		border-radius: 20px;
	}
	/* .section-three .mobile{
		height: 240px;
	}
	.section-four .mobile{
		height: 240px;
	} */
	.section-img{
		width: 100%;
	}
	.Lets-Finin{
		text-align: left;
	}
	.display_f2{
		/* justify-content: flex-end; */
		padding-top: 60px;
	}
	.menu{
		display: block;
		position: fixed;
		width: 100%;
		height: 100vh;
		z-index: 99999;
		top: 0;
		left: 0;
		background-color: rgba(11, 14, 47, 0.65);
		opacity: 0;
		visibility: hidden;
		transition: 0.2s;
	}
	.menuWrapper{
		width: 100%;
		background-color: #fff;
		padding: 53px 33px 33px 33px;
		border-radius: 0 0 40px 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateY(-100%);
		visibility: hidden;
		transition: 0.5s;
	}
	.open-menuWrapper{
		transform: translateY(0);
		visibility: visible;
	}
	.open-menu{
		visibility: visible;
		opacity: 1;
	}
	.right{
		margin-right: 0;
	}
	.logo-mobile{
		display: flex;
	}
	.icons-mobile{
		display: block;
	}
	.logo-img-mobile{
		width: 100px;
	}
	.decore_4{
		display: block;
	}
	.menu>.menuWrapper>a{
		font-size: 29px;
  		font-weight: 800;
	}
	.btn1-mobile{
		display: block;
		font-size: 16px;
		color: #fff;
		background-color: #47c690;
		padding: 11px 31px;
		border: none;
		border-radius: 50px;
		margin: 49px 0 33px 0;
	}
	.icon-mb{
		width: 31px;
		margin: 8px;
	}
	.Lets-Finin{
		font-size: 10px;
	}
	.sign_close{
		right: 42px;
	}
	.img_a{
		display: none;
	}
}